body {
    padding: 25px;
    font: 14px/1.5 Arial;
    font-weight: 300;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

h1 {
    font-size: 14px;
    font-weight: lighter;
    margin-top: 40px;
}

h2 {
    line-height: 1.1;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 20px;
}

a {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

nav li {
    list-style-type: none;
    text-align: right;
    font-size: 18px;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

header .left {
    height: 70px;
    vertical-align: bottom;
    float: left;
}

header .middle {
    height: 70px;
    width: 125px;
    float: right;
    border-left: 1px solid black;

}

header .right {
    height: 70px;
    width: 200px;
    float: right;
    border-left: 1px solid black;
    text-align: right;
    vertical-align: bottom;
}

section {
    width: 700px;
    float: left;
    padding-bottom: 50px;
    min-height: 800px;
    font-weight: 800;
}

nav {
    float: right;
}

footer {
    border-top: 1px solid black;
    margin-top: 20px;
}

li a {
    font-size: 14px;
    padding: 0px;
    background-size: 105% 105%;
    background-repeat: no-repeat;
}

li a.active {
    background-image: none;
}

.edding1 {
    background-image: url('../assets/edding1.png');
}

.edding2 {
    background-image: url('../assets/edding2.png');
}

.edding3 {
    background-image: url('../assets/edding3.png');
}

.edding4 {
    background-image: url('../assets/edding4.png');
}

section {
    /*color: gray;*/
}

section em{
    color: black;
    background-color: palegoldenrod;
}

